@import "neat/neat-helpers"; // or "neat/neat-helpers" when not in Rails
// $visual-grid: true;
// Change the grid settings
//$column: 95px;
//$gutter: 20px;

$grid-columns: 12;
$max-width: 1140px;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$mobile_landscape: new-breakpoint(max-width 320px 4);

$tablet: new-breakpoint(max-width 768px 8);

$desktop: new-breakpoint(max-width 1280px 12);
$desktop_large: new-breakpoint(min-width 1281px 12);