header{
    text-align: center; margin: 1em 0;
    img{ width: 30%; }

    @include media($desktop)
    {
        img{ width: 40%; }
    }

    @include media($tablet)
    {
        img{ width: 50%; }
    }

    @include media($mobile)
    {
        img{ width: 90%; }
    }
}

ul{
    font-size: 3em; padding: 0; margin: 0; text-align: center; top: 25%; position: relative;
    li{
        display: inline-block; margin: 0 .5em;
        a{ color: #fff; text-decoration: none; }
    }
    @include media($mobile)
    {
        margin-top: 1em;
        //li{ display: block; margin: 1em 0; }
        @include clearfix;
        li{ display: block; margin: .5em 0; }
    }
}

h1 {
    margin: 1em auto;
    background: url("/images/logo.svg") no-repeat;
}

.sponsors{
    position: relative; top: 40%; text-align: center;
    h2{ color: #fff; margin: 0; }
    a{ margin-right: 20px; &:last-child{ margin-right: 0; } }
    @include media($mobile)
    {
        margin-top: 2em;
        img{ width: 80%; }
    }
}