// Vertical Rhythm
$base-font-size: 18px;
$basepx: 18;
$base-line-height: 24px;
//@include establish-baseline;


// Grid
@import "neat/neat-helpers";
// $visual-grid: true;
// Change the grid settings
//$column: 95px;
//$gutter: 20px;

$grid-columns: 12;
$max-width: 1270px;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$mobile_landscape: new-breakpoint(max-width 320px 4);

$pre_mobile: new-breakpoint(max-width 600px 4);

$smaller_than_tablet: new-breakpoint(max-width 767px 8); // more descriptive name than small_tablet
$tablet: new-breakpoint(max-width 768px 8);

$desktop: new-breakpoint(max-width 1280px 12);
$desktop_large: new-breakpoint(min-width 1281px 12);



// Colors